body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: radial-gradient(circle at center, #b2f580 10%, #e0f8e0 50%, #F0F0F0 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow-x: hidden;
    }

    .navbar {
      position: absolute;
      top: 40px;
      left: 50px;
      right: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logout {
      background-color: #45842E;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 8px 20px;
      cursor: pointer;
      font-size: 15px;
    }

    .logout:hover {
        background-color: #5d9e45;
    }

    .notif {
      background-color: white;
      color: #45842E;
      box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .notif img {
      width: 25px;
      height: 25px;
      margin-top: 4px;
    }

    h1 {
      margin-top: 40%;
      font-size: 90px;
      color: #45842E;
      text-align: left;
      justify-content: left;
      margin-right: 40%;
    }

    .logo {
      background-color: white;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
      padding: 30px;
      width: 1000px;
      margin-top: 80px;
      text-align: center;
      position: relative;
    }

    .logo-circle {
      background-color: white;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    .logo-circle img {
      width: 300px;
      height: 300px;
    }

    .card {
  position: relative;
  background: white;
  border-radius: 20px;
  margin-top: 100px;
  padding: 30px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 50vh;
}

    .logo .back-button {
      position: absolute;
      top: 18px;
      left: 100px;
      z-index: 40;
      margin-top: 10px;
      
    }

    .logo .back-button .back-arrow img {
      width: 44px;
      height: 44px;
      display: block;
    }

.card h3 {
  color: #3d8c3a;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: left;
  margin-left: 100px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 70px;
  
}

.temperature button {
  background: none;
  border: none;
  font-size: 40px;
  color: #3d8c3a;
  cursor: pointer;
  margin: 0 15px;
  transition: 0.2s;
}
.temperature button:hover {
  transform: scale(1.2);
}

#temp-value {
  font-size: 40px;
  font-weight: bold;
  color: #3d8c3a;
  transition: transform 0.2s ease;
}

#temp-value.pop {
  transform: scale(1.3);
}

.set-btn {
  background: #3d8c3a;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}
.set-btn:hover {
  background: #2f6d2b;
}

   .leaf {
    position: absolute;
    width: 50%;
    opacity: 0.95;
   }

   .leaf.left {
    bottom: 10px;
    left: -400px;
    transform: rotate(-2deg);
   }

   .leaf.right {
    bottom: 50%;
    right: -350px;
    transform: rotate(-85deg);
   }

   